@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

:root {
  --section-gap: 2rem; /* Adjust this value as needed */
}

/* Retro Window Styling */
.retro-window {
  @apply bg-[#c0c0c0] border-4 border-[#dfdfdf] border-b-[#808080] border-r-[#808080];
}

.retro-window-title {
  @apply bg-[#000080] text-white px-2 py-1 flex justify-between items-center;
}

.scanlines {
  background: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0) 50%,
          rgba(0, 0, 0, 0.1) 50%
  );
  background-size: 100% 4px;
  pointer-events: none;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.cursor-blink {
  animation: blink 1s step-end infinite;
}

a {
  text-decoration: none;
  color: #008080;
  transition: 0.3s;
}

a:hover {
  background-color: rgba(0, 128, 128, 0.2);
}
