@import "tailwindcss";

@theme {
    --color-apple-50: #f3fbf2;
    --color-apple-100: #e2f7e1;
    --color-apple-200: #c6eec4;
    --color-apple-300: #9adf96;
    --color-apple-400: #65c761;
    --color-apple-500: #3ca338;
    --color-apple-600: #2f8d2c;
    --color-apple-700: #277025;
    --color-apple-800: #235922;
    --color-apple-900: #1e491e;
    --color-apple-950: #0b280b;

    --font-body: #222222;
}

/* Base Layer: Global styles and resets.
 If you want to add custom CSS styles to specific HTML elements,
add those styles to the base layer.

Example: if you want to style all H2 elements you use the base layer.
*/

@layer base {
    /* Global Reset and box-sizing */
    *,
    *::before,
    *::after {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    /* Body styling */
    body {
        min-height: 100vh;
        font-family: monospace, Inter;
        color: var(--font-body);
        background: var(--color-apple-950);
        text-rendering: optimizeLegibility;
        @apply text-base;
    }

    body strong {
        @apply font-bold
    }

    h1, h2, h3, h4, h5, h6 {
        @apply select-none
    }

    h1 {
        font-size: 32px;
        @apply font-extrabold
    }

    h2 {
        @apply text-2xl font-bold
    }

    h3 {
        @apply text-xl font-bold
    }

    h4 {
        @apply text-base font-bold;
    }

    /* sm breakpoint */
    @media (min-width: 640px) {
        h1 {
            @apply text-3xl;
        }

        h2 {
            @apply text-2xl;
        }

        h3 {
            @apply text-xl;
        }

        h4 {
            @apply text-lg;
        }

        h5 {
            @apply text-base;
        }

        h6 {
            @apply text-sm;
        }
    }

    /* md breakpoint */
    @media (min-width: 768px) {
        h1 {
            @apply text-4xl;
        }

        h2 {
            @apply text-3xl;
        }
    }

    /* lg breakpoint */
    @media (min-width: 1024px) {
        .magic-margin {
            margin-left: calc(8px + 1.5625vw);
            margin-right: calc(8px + 1.5625vw);
        }

        body {
            font-size: 1.125rem;
        }

        h1 {
            font-size: 2.125rem;
        }

        h2 {
            font-size: 1.875rem;
        }

        h3 {
            font-size: 1.5rem;
        }

        h4 {
            font-size: 1.25rem;
        }
    }
}

/* Components Layer: Custom UI components */
@layer components {
    #app {
        max-width: 1280px;
        margin: 0 auto;
        padding: 2rem;
    }

    #terminal {
        background-color: var(--charcoal);
        color: var(--terminal-font);
    }

    .retro-window {
        @apply bg-[#c0c0c0] border-4 border-[#dfdfdf] border-b-[#808080] border-r-[#808080];
    }

    .retro-window-title {
        @apply bg-[#000080] text-white px-2 py-1 flex justify-between items-center;
    }

    .pill {
        @apply bg-gray-100 rounded-full px-3 py-1 text-sm font-semibold text-gray-600
    }

    @keyframes blink {
        0%, 100% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
    }

    .cursor-blink {
        animation: blink 1s step-end infinite;
    }

    a {
        text-decoration: none;
        color: #008080;
        transition: 0.3s;
    }

    a:hover {
        background-color: rgba(0, 128, 128, 0.2);
    }
}

/* Utilities Layer: Custom utilities */
@layer utilities {
    /* custom colors */
    :root {
        --charcoal: #403E43;
        --terminal-font: #4ade80;
        --section-gap: 2rem; /* Adjust this value as needed */
    }

    .magic-margin {
        margin-left: calc(8px + 1.5625vw);
        margin-right: calc(8px + 1.5625vw);
    }
}
